/* CustomInput.module.css */
.input {
  box-sizing: border-box;
  margin: 0;
  padding: 4px 11px;
  color: rgba(0, 0, 0, 0.88);
  font-size: 14px;
  line-height: 1.5714285714285714;
  list-style: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  width: 100%;
  min-width: 0;
  border-radius: 6px;
  transition: all 0.2s;
  background-color: #ffffff;
  border-width: 1px;
  border-style: solid;
  border-color: #d9d9d9;
  position: relative;
  display: inline-block;
}

.input:placeholder-shown {
  text-overflow: ellipsis;
}

.input:hover {
  border-color: #4096ff;
  background-color: #ffffff;
}

.input:focus,
.input:focus-within {
  border-color: #1677ff; /* var(--ant-input-active-border-color) */
  box-shadow: 0 0 0 2px rgba(5, 145, 255, 0.1); /* var(--ant-input-active-shadow) */
  outline: 0;
  background-color: #ffffff; /* var(--ant-input-active-bg) */
}

.input:disabled,
.input[disabled] {
  color: rgba(0, 0, 0, 0.25); /* var(--ant-color-text-disabled) */
  background-color: rgba(0, 0, 0, 0.04); /* var(--ant-color-bg-container-disabled) */
  border-color: #d9d9d9; /* var(--ant-color-border) */
  box-shadow: none;
  cursor: not-allowed;
  opacity: 1;
}
