#banner {
  height: 400px; /* Smaller default height for smaller devices */
  background-image: url("../../../assets/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll; /* Change to 'fixed' only on larger screens */
}

@media (min-width: 1024px) {
  #banner {
    height: 700px; /* Original height for larger devices */
    background-attachment: fixed;
  }
}
